{% extends "base.html" %}
{% block title %}Home - AtlasCivs{% endblock %}
{% block content %}

<div class="greeting">
    <img src="/imgs/ac_logo.png" style="width: 8em" alt="AC logo">
    <h1>AtlasCivs</h1>
    <!-- <p><i>insert atlas slogan here</i></p> -->
</div>

<div class="container">
    <h3>About Us</h3>
    <p>AtlasCivs is a vanilla Minecraft, geopolitical roleplay server.</p>
    <p>Originally created by bca, it is now led by the Admin team.</p>
</div>
<div class="container">
    <h3>Info & Resources</h3>
    <p class="link-button">
        <a href="https://discord.gg/EjwZRSSFBq" id="discord" target="_blank">
        <img src="/imgs/discord_mark.svg" height="12" alt="Discord link">Discord Community</a>
    </p>
    <p>Minecraft IP: <b>atlascivs.online</b></p>
</div>

<link rel="stylesheet" type="text/css" href="/css/home.css">

{% endblock %}
