{% extends "base.html" %}
{% block title %}Home - AtlasCivs{% endblock %}
{% block content %}

<div class="greeting">
    <img src="/imgs/ac_logo.png" style="width: 8em" alt="AC logo">
    <h1>Welcome to AtlasCivs!</h1>
    <!-- <p><i>insert atlas slogan here</i></p> -->
</div>

<div class="container">
    <h3>About Us</h3>
    <p>
        Are you looking for a geopolitical roleplay server to spend time on? Do you want a persistent world where your 
        contributions become part of history in an overarching story of your making? Then AtlasCivs is the server for you!
    <br><br>
        We have all kinds of active world-building and gameplay on a non-resetting world. Staff intervention 
        only extending to server stability and cultivating an enjoyable environment for all. We feature a 3,000 by 3,000 claimable 
        area where builds are protected. Wild claims extends to 5,000 blocks for resource gathering purposes. The nether is un-claimable, 
        with a 1 to 1 scale to encourage overworld travel via rails, paths, and other means.
    <br><br>
        The server has a host of player nations that engage in war, diplomacy, trade, and alliances. Each has unique 
        governmental structures and power dynamics affecting the world in their own way. Maybe you could lead the next great nation!

        The community is very welcoming, with nations basically jumping at the chance for new members. This is so they can cooperate 
        to create new builds, craft new stories, and manifest their destiny. 
    <br><br>   
        To weed out bad actors, the server requires that you submit an application. It's super simple, and takes less than a day to get approved.
    </p>
</div>
<div class="container">
    <h3>FAQ</h3>
    <ul>
        <li>We do not use Towny, claims are player driven using CoreProtect, and are admin moderated.</li>
        <li>Elytras have been disabled to make distances and infrastructure more significant.</li>
        <li>The server is semi-vanilla, with a few quality of life additions. These include improved
            recipes for vanilla items, roleplay additions, nicknames, and high speed rails.
        </li>
        <li>You can join using any modern version of Minecraft. The server has ViaVersion and Bedrock support.</li>
        <li>Maps and nation claims are created by the players, but there is a web-map with points of interest listed.</li>
        <li>Litematica and minimap mods are allowed and encouraged, but be sure to check out the full 
            rules regarding client mods on the Discord server!</li>
    </ul>
</div>
<div class="container">
    <h3>Info & Resources</h3>
    <p class="link-button">
        <a href="https://discord.gg/EjwZRSSFBq" id="discord" target="_blank">
        <img src="/imgs/discord_mark.svg" height="12" alt="Discord link">Discord Community</a>
    </p>
    <p>Minecraft IP: <b>atlascivs.online</b></p>
</div>

<link rel="stylesheet" type="text/css" href="/css/home.css">

{% endblock %}
