/* Styles for the Kills page */


/* below is the old CSS for the chat page. The kills page will look 
different, but use some of the same design elements. */

.kill-feed {
    height: calc(100vh - 300px);
    min-height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 10px;
    padding-top: 0px;
}

.kill-container {
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 0.5em;
    align-items: stretch;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    color: #FFFFFF;
}


